<div class="row mt-3 mb-4">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2 class="title-main">Hi, I'm Harry.</h2>
        <p>I've recently finished a 9-week full-stack web development coding bootcamp in Tokyo. <i class="fa-solid fa-laptop-code"></i></p>
        <p>I like using my brain while being creative, experimenting with ideas, and building projects.
          When I'm not coding, I'm probably watching soccer, gaming, doing yoga, or chilling with my kitten, Hana-chan.<i class="fa-solid fa-cat"></i></p>
      </div>
    </div>
  </div>
</div>
