<div class="row justify-content-center banner">
  <div class="col-12 d-flex justify-content-center">
    <div class="profile-card text-center">
      <%= image_tag 'Harry.png', alt: "profile photo", class: 'avatar' %>
      <h1 class="title-main">Harry Salacuri</h1>
      <h2 class="subtitle">Full Stack Software Developer</h2>
    </div>
  </div>
</div>
