<div class="row my-5">
  <div class="col-12">
    <div id="contact">
      <h2 class="text-center title-main">
        <i class="fa-solid fa-magnifying-glass"></i> Find Me Here!
      </h2>
      <div class="d-flex justify-content-center flex-wrap mt-3">
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-solid fa-envelope"></i>
          <%= mail_to "salacuriharry@gmail.com", "", class: 'button-social-link' %>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-github"></i>
          <%= link_to "", "https://github.com/harrygooner1886", target: '_blank', class: 'button-social-link' %>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-linkedin"></i>
          <%= link_to "", "https://www.linkedin.com/in/harry-salacuri1886", target: '_blank', class: 'button-social-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
